* {
    padding: 0;
    margin: 0;
}
body {
    background: black;
    color: white
}
#container {
    width: 900px;
    height: 900px;
    margin: auto;
    position: relative;
}
#myCanvas {
    border: 2px solid white;
    display: block;
    margin: auto;
    margin-top: calc(50vh - 450px);
    background: linear-gradient(to bottom, #000000 2%,#2989d8 72%,#7db9e8 100%)
}
#playagain {
    width: 100px;
    height: 60px;
    background-color: transparent;
    opacity: 0.6;
    /*box-shadow: 0px 4px 4px 1px black;*/
    border: none;
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 50px);
    transition: 0.4s opacity ease, 0.4s transform;
    font-size: 25px;
    color: aliceblue;
    border-radius: 5px;
    z-index: 1;
}
#playagain:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1)
}

#on {
    position: absolute;
    z-index: -1;
    top: 94%;
    left: calc(97% - 2px);
    display: block;
    border: none;
    width: 25px;
    height: 25px;
    background: url(./images/play.png);
    background-size: contain;

}
#off {
    z-index: -1;
    position: absolute;
    top: 97%;
    left: 97%;
    display: block;
    border: none;
    width: 20px;
    height: 20px;
    background: url(./images/pause.png);
    background-size: contain
}
